.textarea-label,
.textarea {
    color: #333;
}

.textarea-label {
    display: block;
    margin-bottom: 5px;
    font-size: .9em;
}

.textarea {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    background: #f7f7f7;
    font-size: 1em;
    line-height: 1.5;
    width: 50%;
}

.textarea-answer{
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  background: #f7f7f7;
  font-size: 1em;
  line-height: 1.5;
  width: 80%;
  height: 500px;
}

.textarea::placeholder {
    color: #999;
}
